<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,500;1,6..96,400&display=swap" rel="stylesheet">
    <link 
    id="favicon" 
    rel="icon"
    href="/stylesheets/img/favicon-32x32.png"
    type="image/png" 
    sizes="32x32"
    >
    <script src="https://kit.fontawesome.com/4e97588e99.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title %></title>
