main {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.resort-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.resort {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  width: 300px;
  text-align: left;
}

.resort p {
  margin: 8px 0;
}

.go-back {
  text-align: left;
}

.go-back a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
}

#arrow img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}


.inline {
  display: inline-block;
}

.btn {
  cursor: pointer;
  font-size: 15px;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; 
  border-right: none;
  width: 100px;
  height: 40px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
}

.items {
  line-height: 30px;
}

.items span {
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: #08527a;
}

@media screen and (max-width: 414px) and (max-height: 896px) and (-webkit-device-pixel-ratio: 2) { 
  .menu ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
  }

  .menu ul li {
    padding: 0;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .menu ul li a button {
    font-size: 14px; 
    padding: 8px 16px; 
  }

  div.line {
    transform: scaleX(0); 
    background: #FFFFFF;
  }

  main {
    text-align: center;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 20px; 
  }

  .resort-container {
    justify-content: center;
    gap: 10px;
  }

  .resort {
    width: 280px;
    max-width: 100%;
  }

  .resort p {
    margin: 4px 0;
    font-size: 12px; 
  }

  .go-back a {
    font-size: 12px; 
  }

  #arrow img {
    width: 20px; 
    height: 20px; 
  }

  .btn {
    width: 70px; 
    height: 26px; 
    font-size: 12px; 
    margin-bottom: 10px;
  }

  .items {
    line-height: 40px; 
  }

  .items span {
    line-height: 1.5;
    letter-spacing: 0.5px;
    font-size: 12px;
    color: #08527a;
  }
}
