<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="home-page">
  <h3 id="home-page">winter inspiration</h3>
  <div class="wrapper">
    <div class="carousel">
      <img src="/stylesheets/img/resorts-list-five.jpg" alt="img">
      <img src="/stylesheets/img/resorts-list-nineteen.jpg" alt="img">
      <img src="/stylesheets/img/new-list3.jpg" alt="img">
      <img src="/stylesheets/img/new-list2.jpg" alt="img">
      <img src="/stylesheets/img/new-list1.jpg" alt="img">
      <img src="/stylesheets/img/new-list4.jpg" alt="img">
      <img src="/stylesheets/img/resort-pic2.jpg" alt="img">
      <img src="/stylesheets/img/resort-pic8.jpg" alt="img">
      <img src="/stylesheets/img/resorts-list-seven.jpg" alt="img">
      <img src="/stylesheets/img/resorts-pic-5.jpg" alt="img">
    </div>
  </div>
</main>

<%- include('./partials/footer') %>