<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main class="home-page">
  <h3 id="home-page">winter inspiration</h3>
  <div class="wrapper">
    <div class="carousel">
      <img src="/stylesheets/img/resorts-list-five.jpg" alt="img">
      <img src="/stylesheets/img/resorts-list-nineteen.jpg" alt="img">
      <img src="/stylesheets/img/new-list3.jpg" alt="img">
      <img src="/stylesheets/img/new-list2.jpg" alt="img">
      <img src="/stylesheets/img/new-list1.jpg" alt="img">
      <img src="/stylesheets/img/new-list4.jpg" alt="img">
      <img src="/stylesheets/img/resort-pic2.jpg" alt="img">
      <img src="/stylesheets/img/resort-pic8.jpg" alt="img">
      <img src="/stylesheets/img/resorts-list-seven.jpg" alt="img">
      <img src="/stylesheets/img/resorts-pic-5.jpg" alt="img">
    </div>
  </div>
</main>

<%- include('./partials/footer') %>

<!-- <div class="wrapper">
  <div class="main-content">
    <div class="main1">
      <h2>Main Heading One</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsa reprehenderit, excepturi quaerat suscipit quasi eligendi? Tempora esse quam quo officia. Eaque itaque nostrum similique perspiciatis nemo totam nisi mollitia!</p>
    </div>
    <div class="main1">
      <h2>Main Heading Two</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsa reprehenderit, excepturi quaerat suscipit quasi eligendi? Tempora esse quam quo officia. Eaque itaque nostrum similique perspiciatis nemo totam nisi mollitia!</p>
    </div>
    <div class="main1">
      <h2>Main Heading Three</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ipsa reprehenderit, excepturi quaerat suscipit quasi eligendi? Tempora esse quam quo officia. Eaque itaque nostrum similique perspiciatis nemo totam nisi mollitia!</p>
    </div>
  </div>
</div> -->