* {
  margin: 0;
  padding: 0;
}

.banner {
  background: url('img/clouds-banner.jpg');
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  margin-top: 20px;
}

.top-bar {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: #cbdde6 solid 1px;
}

.logo {
  color: #cbdde6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 20px;
  padding: 18px;
  text-transform: uppercase;
}

.menu {
  -webkit-flex: 3px;
  -moz-flex: 3px;
  -o-flex: 3px;
  -ms-flex: 3px;
  flex: 3px;  
}

.menu ul{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  list-style: none;
  margin-top: 30px;
  padding: 0;
  gap: 20px;
  flex-flow: row-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
}

.menu ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
}
.menu ul li a {
  color: #cbdde6;
  text-decoration: none;
}

.menu ul li a  button {
  background: #cbdde6;
  color: #fff;
  font-size: 15px;
  padding: 10px 30px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.google-login {
  display: flex;
  align-items: center;
}

.g_id_signin {
  background: none;
  border: none;
  color: #cbdde6;
  font-size: 15px;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: auto; 
}

.g_id_signin:hover {
  color: #fff;
  text-decoration: underline;
}

.banner-text {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  padding: 15%;
}

.banner-text-items {
  color: #fff;
  margin: auto;
  /* text-align: center; */
  width: 50%;
}

.banner-text-items h2 {
  font-size: 3em;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.banner-text-items p {
  font-size: 18px;
}

.main-content {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: 5% 0;
}

.main1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 3%;
  text-align: center;
}


@media all and (max-width:500px) {
  .top-bar{
    flex-direction: column;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .logo {
    padding: 20px 0 0;
  }
  .menu ul {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    margin-top: 0;
  }
  .menu ul li {
    padding: 5px;
  }
  .banner-text-items {
    width: 100%;
  }
  .banner-text-items h2 {
    font-size: 1.5em;
  }
  .main-content {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

  }
}

@media all and (max-width:800px) {
  .top-bar{
    flex-direction: column;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .logo {
    padding: 20px 0 0;
  }
  .menu ul {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    margin-top: 0;
  }
  .menu ul li {
    padding: 5px;
  }
  .banner-text-items {
    width: 100%;
  }
  .banner-text-items h2 {
    font-size: 1.5em;
  }
  .main-content {
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;

  }
}