@font-face {
  font-family: 'Graindeur';
  src: url('graindeur-serif-display/ttf/graindeur-serif-display-graindeur-serif-display-regular-400.ttf') format('truetype');
  font-family: 'Collingar'; 
  src: url('collingar/ttf/collingar-collingar-400.ttf') format('truetype');
  font-family: 'Calisga';
  src: url('calisga/ttf/calisga-calisga-400.ttf') format('truetype');
}
body {
  font-family: 'Collingar', sans-serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 15px;
}

.top-bar {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: black solid 1px;
}

.logo {
  color: black;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 20px;
  padding: 18px;
}

.menu {
  -webkit-flex: 3px;
  -moz-flex: 3px;
  -o-flex: 3px;
  -ms-flex: 3px;
  flex: 3px;  
}

.menu ul{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  list-style: none;
  margin-top: 30px;
  padding: 0;
  gap: 20px;
  flex-flow: row-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  position: relative;
}

.menu ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
  transition: 0.5s;
  cursor: pointer;
  user-select: none;
}

.menu ul li:hover {
  color: black;
} 

.menu ul li:hover:nth-of-type(2) ~ .line {
  left: 27%;
} 

.menu ul li:hover:nth-of-type(3) ~ .line {
  left: 53%;
} 

.menu ul li:hover:nth-of-type(4) ~ .line {
  left: 78%;
} 

.menu ul li:hover .line {
  transform: scaleX(1);
}

.menu ul .line {
  width: 20%;
  background-color: black;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: .5s;
}

.menu ul li a {
  color: black;
  text-decoration: none;
}

.menu ul li a  button {
  background: #cbdde6;
  color: #fff;
  font-size: 15px;
  padding: 10px 30px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.google-login {
  display: flex;
  align-items: center;
}

.g_id_signin {
  background: none;
  border: none;
  color: #cbdde6;
  font-size: 15px;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: auto; 
}

.g_id_signin:hover {
  color: #fff;
  text-decoration: underline;
}

.top-bar .menu ul li a.active {
  color: #90827b; 
}

.main-content h1 {
  font-weight: normal;
  border-bottom: black solid 1px;  
  font-family: 'Collingar', sans-serif;
}

.main-content {
  display: grid;
  place-items: center;
  text-align: center;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  grid-gap: 16px;
  padding: 16px;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
}

.resorts {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 16px;
  width: 100%;
  text-align: center;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}

.resorts:nth-child(1):before {
  background-image: url('../img/resorts-list-three.jpg');
}

.resorts:nth-child(2):before {
  background-image: url('../img/resorts-list-eleven.jpg');
}

.resorts:nth-child(3):before {
  background-image: url('../img/resorts-list-eighteen.jpg');
}

.resorts:nth-child(4):before {
  background-image: url('../img/aspen1.jpg');
}

.resorts:nth-child(5):before {
  background-image: url('../img/resorts-pic-5.jpg');
}

.resorts:nth-child(6):before {
  background-image: url('../img/resorts-list-twentyone.jpg');
}

.resorts:nth-child(7):before {
  background-image: url('../img/resorts-list-another.jpg');
}

.resorts:nth-child(8):before {
  background-image: url('../img/resort-pic8.jpg');
}

div.resorts a {
  text-decoration: none;
  font-family: 'Collingar', sans-serif;
}

.resorts:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  transition: all .5s ease;
  pointer-events: none;
  height: 180px;
}

.resorts:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  transition: all .5s ease;
  pointer-events: none;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0.3));
  transform: translateY(-50%);
}

.info {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 16px;
  transition: transform .5s ease;
  z-index: 1;
}

.info h2 {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color:#fff;
  border-bottom: white solid 1px;
  padding: 3px 35px;
}

.btn {
  text-decoration: none;
  padding: 10px 25px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  border-bottom: white solid 1px;
  border-top: white solid 1px;
  margin-top: 45px;
}

.resorts:after {
  transform: translateY(0);
}

.info {
  transform: translateY(calc(100% - 50px));
}

.resorts:hover:before {
  transform: translateY(-4%);
}

.resorts:hover:after {
  transform: translateY(-50%);
}

.resorts:hover .info {
  transform: translateY(0);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; 
}

#new-resort-btn {
  font-family: 'Collingar', sans-serif;
  cursor: pointer;
  font-size: 15px;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; 
  border-right: none;
  width: 150px;
  height: 50px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
}

#new-resort-btn:hover {
  background: black; 
  color: white; 
}


@media screen and (max-width: 414px) and (max-height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .menu ul li a {
    font-size: 10px;
  }
  
  .menu ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .menu ul li {
    padding: 0;
    margin-bottom: 15px;
  }
  
  .menu ul li a button {
    padding: 8px 16px; 
    font-size: 10px;
  }
  
  div.line {
    transform: scaleX(0); 
    background: #FFFFFF;
  }

  main {
    text-align: center;
  }

  h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .line {
    width: 50px;
  }

  .resorts .info h2 {
    text-align: center; 
    margin-bottom: 0px;
    padding-top: 0px;
  }

  #new-resort-btn {
    font-size: 10px;
    margin-bottom: 10px;
  }
  
  .button-container {
    margin: 0px;
  }

  .resorts h2 {
    font-size: 12px;
  }

  .resorts:nth-child(1):before {
    background-image: url('../img/resorts-list-three.jpg');
    background-size: cover;
  }
  
  .resorts:nth-child(2):before {
    background-image: url('../img/resorts-list-eleven.jpg');
    background-size: cover;
  }
  
  .resorts:nth-child(3):before {
    background-image: url('../img/resorts-list-eighteen.jpg');
    background-size: cover;
  }
  
  .resorts:nth-child(4):before {
    background-image: url('../img/resorts-list-one.jpg');
    background-size: cover;
  }
  
  .resorts:nth-child(5):before {
    background-image: url('../img/resorts-list-new-two.jpg');
    background-size: cover;
  }
  
  .resorts:nth-child(6):before {
    background-image: url('../img/resorts-list-new-four.jpg');
    background-size: cover;
  }
  
  .resorts:nth-child(7):before {
    background-image: url('../img/resorts-list-another.jpg');
    background-size: cover;
  }
  
  .resorts:nth-child(8):before {
    background-image: url('../img/resorts-list-other.jpg');
    background-size: cover;
  }

}


