* {
  margin: 0;
  padding: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.add-new-resort-form-items {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  margin: auto;
}

.add-new-resort-form {
  background: url('../img/clouds-banner.jpg');
  background-position: center;
  /* background-size: cover; */
  font-family: sans-serif;
  margin-top: 40px;
  margin: auto;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box; 
}

.add-new-resort-form:before {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.add-new-resort-form-items h2 {
  color: #fff;
  border-bottom: #fff solid 1px;
  font-size: 40px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.add-new-resort-form-items input[type="text"] {
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
  width: 30%;
}

.add-new-resort-form-items textarea {
  border-radius: 10px;
  height: 100px;
  padding: 15px;
  width: 30%;
}

.add-new-resort-form-items a {
  background: #000;
  color: #fff;
  display: block;
  font-size: 20px;
  margin-top: 25px;
  padding: 15px 50px;
  text-decoration: none;
  text-transform: uppercase;
}

.add-new-resort-form-items button {
  width: 50px; 
  margin: 0 auto;
}


.add-new-resort-form-items input[type="text"],
.add-new-resort-form-items textarea {
  width: 50%; 
}


form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 15px;
}

.label {
  color: #fff;
  font-weight: bold;
  margin-bottom: 5px;
}
