@font-face {
  font-family: 'Graindeur';
  src: url('graindeur-serif-display/ttf/graindeur-serif-display-graindeur-serif-display-regular-400.ttf') format('truetype');
  font-family: 'Collingar'; 
  src: url('collingar/ttf/collingar-collingar-400.ttf') format('truetype');
  font-family: 'Calisga';
  src: url('calisga/ttf/calisga-calisga-400.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
}
.top-bar {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: black solid 1px;
}

.logo {
  color: black;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 20px;
  padding: 18px;
}

.menu {
  -webkit-flex: 3px;
  -moz-flex: 3px;
  -o-flex: 3px;
  -ms-flex: 3px;
  flex: 3px;  
}

.menu ul{
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  list-style: none;
  margin-top: 30px;
  padding: 0;
  gap: 20px;
  flex-flow: row-wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  position: relative;
}

.menu ul li {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
  transition: 0.5s;
  cursor: pointer;
  user-select: none;
}

.menu ul li:hover {
  color: black;
} 

.menu ul li:hover:nth-of-type(2) ~ .line {
  left: 27%;
} 

.menu ul li:hover:nth-of-type(3) ~ .line {
  left: 53%;
} 

.menu ul li:hover:nth-of-type(4) ~ .line {
  left: 78%;
} 

.menu ul li:hover .line {
  transform: scaleX(1);
}

.menu ul .line {
  width: 20%;
  background-color: black;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0px;
  transition: .5s;
}

.menu ul li a {
  color: black;
  text-decoration: none;
}

.menu ul li a  button {
  background: #cbdde6;
  color: #fff;
  font-size: 15px;
  padding: 10px 30px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.google-login {
  display: flex;
  align-items: center;
}

.g_id_signin {
  background: none;
  border: none;
  color: #cbdde6;
  font-size: 15px;
  margin-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: auto; 
}

.g_id_signin:hover {
  color: #fff;
  text-decoration: underline;
}

.top-bar .menu ul li a.active {
  color: #D5DADC; 
}

body {
  overflow-x: hidden;
  font-family: 'Collingar', sans-serif;
}


.columns.content .content-container h4, p#difficulty-level {
  text-align: center; 
}
h1 {
  font-size: 80px;
  padding-left: 20px;
  border-left: black solid 2px;
}

h3 {
  padding-left: 30px;
}

h4 {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}


ul li, p#difficulty-level {
  line-height: 1.5; 
  margin-bottom: 10px;
}

p#difficulty-level {
  max-width: 500px; 
}

.columns.image img[alt="Winter House"] {
  width: 520px; 
  height: 350px;
}

.section-container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-top: 20px;
}

.section-container .columns {
  flex: 0 0 auto;
  width: 50%; 
  margin-bottom: 30px;
}

.section-container .columns .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-container .columns .content {
  padding: 40px 50px;
}

.section-container .columns .content .content-container h1,
.section-container .columns .content .content-container h3,
.section-container .columns .content .content-container h5 {
  margin-bottom: 30px !important; 
}



.section-container .columns .content .content-container h5 {
  font-weight: 700;
  font-size: 25px;
}

.section-container .columns .content .content-container p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: justify;
}

.button-section {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  margin-bottom: 20px; 
}

.btn {
  font-family: 'Collingar', sans-serif;
  cursor: pointer;
  font-size: 15px;
  color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-left: none; 
  border-right: none;
  width: 150px;
  height: 50px;
  outline: none;
  background: transparent;
  text-transform: uppercase;
  margin: 0;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.reviews-section #add-review-form {
  margin-top: 30px;
}
.reviews-section label, textarea, select {
  display: block;
  margin-bottom: 10px;
}

.reviews-section h2 {
  margin-top: 20px;
}

#rating-select {
  margin: 0 auto;
  margin-bottom: 10px;
}

#separator {
  width: 700px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: black solid 1px;
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  text-align: center;
}

.table-container {
  margin: 20px auto;
  padding: 20px; 
  max-width: 700px; 
  width: 100%; 
  overflow-x: auto; 
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-container th {
  background-color: black;
  color: white;
}

.actions {
  text-align: right;
}

.action-buttons {
  display: inline-block; 
}

.action-buttons button {
  margin-left: 20px; 
  margin-bottom: 10px;
}


/* Media */
@media screen and (max-width:767px) {
  .section-container {
    flex-flow: row wrap;
  }

  .section-container .columns .image {
    display: block;
    order: 1;
    width: 100%;
    height: 250px;
  }

  .section-container .columns .content {
    display: block;
    order: 2;
    width: 100%;
  }

  .section-container .columns .content .content-container {
    padding: 20px 35px;
  }

  .section-container .columns .content .content-container h5 {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 828px) {
  .logo {
    font-size: 18px;
    padding: 16px;
  }

  .menu ul li {
    padding-bottom: 20px;
  }

  .menu ul li a button {
    font-size: 14px;
    padding: 8px 24px;
  }

  .google-login {
    margin-bottom: 10px;
  }

  .g_id_signin {
    font-size: 14px;
  }

  body {
    font-size: 16px;
  }

  .columns.content .content-container h4,
  p#difficulty-level {
    font-size: 10px;
  }

  h1 {
    padding-left: 15px;
  }

  h3 {
    padding-left: 25px;
    font-size: 17px;
  }

  ul li,
  p#difficulty-level {
    margin-bottom: 8px;
    font-size: 10px;
  }

  .columns.image img[alt="Winter House"] {
    width: 100%;
    height: auto;
  }

  .section-container .columns.image img {
    width: 95%; 
    height: auto; 
  }
  
  .section-container .columns.content .content-container h1 {
    font-size: 30px; 
  }

  .button-section {
    flex-direction: column; 
    align-items: center;
    margin-bottom: 20px; 
  }

  .button-section form,
  .button-section a {
    margin-bottom: 10px; 
  }

  .button-section .btn {
    font-size: 12px; 
    padding: 8px 20px; 
  }

  .reviews-section #add-review-form {
    max-width: 300px; 
    margin: auto;
  }

  .reviews-section #separator {
    width: 300px; 
    margin: 20px auto;
  }

  .reviews table {
    font-size: 14px; 
  }

  .reviews th,
  .reviews td {
    padding: 5px 5px;
    line-height: 20px;
  }

  button.btn {
    font-size: 12px; 
  }

  div.table-container {
    max-width: 300px;
  }
}

